## Deliverable 3. Create a Travel Itinerary Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [4]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Paranaiba,BR,85.60,clear sky,-19.6772,-51.1908,Villa Rica Park Hotel GMR
1,2,Atuona,PF,75.78,light rain,-9.8000,-139.0333,Villa Enata
2,3,Brigantine,US,85.19,clear sky,39.4101,-74.3646,Legacy Vacation Resorts - Brigantine Beach
3,5,Blytheville,US,78.73,broken clouds,35.9273,-89.9190,Days Inn by Wyndham Blytheville
4,6,Gizo,SB,81.72,clear sky,-8.1030,156.8419,Imagination Island

In [6]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>

"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
vacation_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [7]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=vacation_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [41]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"]=="Westport")]
vacation_end = vacation_df.loc[(vacation_df["City"]=="Westport")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"]=="Bethel")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"]=="Broome")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"]=="Palmer")]

In [42]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [47]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

# Latitude-Longitude pairs
start
end
stop1
stop2
stop3

fig2 =  gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
start_end = gmaps.directions_layer(
    start, end, waypoints=[stop1, stop2, stop3],
    travel_mode='DRIVING')
fig2.add_layer(start_end)

fig2

Figure(layout=FigureLayout(height='420px'))

In [48]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,582,Westport,US,84.18,broken clouds,41.1415,-73.3579,The Westport Inn
1,84,Bethel,US,82.45,clear sky,41.3712,-73.4140,Courtyard by Marriott Danbury
2,183,Broome,US,76.46,few clouds,42.2506,-75.8330,Chenango Valley State Park
3,442,Palmer,US,81.86,broken clouds,42.1584,-72.3287,Wedgewood Motel

In [49]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
itinerary_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [50]:
# 11a. Add a marker layer for each city to the map.
fig3 = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=itinerary_info)
fig3.add_layer(marker_layer)

# 11b. Display the figure
fig3

Figure(layout=FigureLayout(height='420px'))